@{
    ViewBag.Title = "Index";
}

This application is being developed as my own tool to control and analyze my family's money transactions.
 I agree, there are many such applications, but if I can create one, then why not?
After registration, you will be able to create, edit and delete deposits and loans.
 Also, this web application records every financial transaction in a history, after which you can view transactions and statistical charts.




@section Scripts
    {
    <script src="~/js/my/account/login.js"></script>
    <script src="~/js/my/account/registr.js"></script>
}

    <!-- Login -->
    <div class="modal fade" id="login" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <!--Header-->
                <div class="modal-header">
                    <h6 class="modal-title">Please login to your account.</h6>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <p id="err_login" class="bg-danger"></p>
                <!--Body-->
                <div class="modal-body">
                    <form name="form_login" action="#" method="post" onsubmit="return false">
                        @Html.AntiForgeryToken()
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Email</span>
                            </div>
                            <input type="text" class="form-control" placeholder="Enter email" name="email">
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Password</span>
                            </div>
                            <input type="password" class="form-control" placeholder="Enter password" name="password">
                        </div>
                        <div class="col-md-offset-2 col-md-10" style="display: flex;">
                            <input type="button" value="SIGN IN" class="btn btn-primary" id="button_login" />
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </form>
                </div>
                <!--Footer-->
                <div class="modal-footer">
                    <h6 class="modal-title">Don't have an account?</h6>
                    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#registration">Click</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Registration -->
    <div class="modal fade" id="registration" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <!--Header-->
                <div class="modal-header">
                    <h6 class="modal-title">Sign up</h6>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <p id="err_registr" class="bg-danger"></p>
                <!--Body-->
                <div class="modal-body">
                    <form name="form_registr" action="#" method="post" onsubmit="return false">
                        @Html.AntiForgeryToken()
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Name</span>
                            </div>
                            <input type="text" class="form-control" placeholder="Enter name" name="name">
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Email</span>
                            </div>
                            <input type="email" class="form-control" placeholder="Enter email" name="email">
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Password</span>
                            </div>
                            <input type="password" class="form-control" placeholder="Enter password" name="password">
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Confirm</span>
                            </div>
                            <input type="password" class="form-control" placeholder="Enter password" name="confirm">
                        </div>

                        <div class="col-md-offset-2 col-md-10" style="display: flex;">
                            <input type="button" value="REGISTER" class="btn btn-primary" id="button_registr" />
                        </div>
                    </form>
                </div>
                <!--Footer-->
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>













